In [97]:
"""Importing Library"""
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
sns.set_style('whitegrid')
"""
from sklearn.cross_validation import StratifiedKFold
from sklearn.ensemble import RandomForestClassifier
from sklearn.grid_search import GridSearchCV
from sklearn import linear_model, datasets
from sklearn import tree
from IPython.display import Image  
from sklearn.externals.six import StringIO  
import pydotplus
"""

'\nfrom sklearn.cross_validation import StratifiedKFold\nfrom sklearn.ensemble import RandomForestClassifier\nfrom sklearn.grid_search import GridSearchCV\nfrom sklearn import linear_model, datasets\nfrom sklearn import tree\nfrom IPython.display import Image  \nfrom sklearn.externals.six import StringIO  \nimport pydotplus\n'

In [110]:
"""Reading Data"""
data1 = pd.read_csv('./month_1.csv')
data1.head()

,customerId,accountId,transactionDate,transactionTime,terminalId,transactionAmount,transactionRemain,state,transactionCode
0,guke_0,zhanghu_51317,"(2015, 3, 21)",160125.0,zhongduan_0,-300.000 CN¥,11393.314 CN¥,D,ma_0
1,guke_0,zhanghu_51317,"(2015, 3, 21)",155406.0,zhongduan_1,-2000.000 CN¥,11693.314 CN¥,D,ma_1
2,guke_0,zhanghu_51317,"(2015, 3, 21)",3519.0,zhongduan_2,-5705.000 CN¥,13693.314 CN¥,D,ma_1
3,guke_0,zhanghu_51317,"(2015, 3, 21)",3442.0,zhongduan_3,-150.000 CN¥,19398.314 CN¥,D,ma_0
4,guke_1,zhanghu_51318,"(2015, 3, 21)",165927.0,zhongduan_4,-2000.000 CN¥,6585.130 CN¥,D,ma_1

In [109]:
"""
Now setting up some changes on data

Example: cleaning!

Function for cleaning the customerId
Function for cleaning the accountIdId
Function for cleaning the transactionCode

"""
def simplify_customerId(df):
    T = df.customerId.apply(lambda x: x[5:])
    df.customerId = T
    return df


def simplify_accountId(df):
    T = df.accountId.apply(lambda x: x[8:])
    df.accountId = T
    return df

def simplify_terminalId(df):
    T = df.terminalId.apply(lambda x: x[10:])
    df.terminalId = T
    return df

def simplify_transactionAmount(df):
    T = df.transactionAmount.apply(lambda x: x[:-3])
    df.transactionAmount = T
    return df

def simplify_transactionRemain(df):
    T = df.transactionRemain.apply(lambda x: x[:-3])
    df.transactionRemain = T
    return df


def simplify_transactionCode(df):
    T = df.transactionCode.apply(lambda x: x[3:])
    df.transactionCode = T
    return df



def transform_features(df):
    df = simplify_customerId(df)
    df = simplify_accountId(df)
    df = simplify_terminalId(df)
    df = simplify_transactionAmount(df)
    df = simplify_transactionRemain(df)
    df = simplify_transactionCode(df)
    return df

In [111]:
data1 = transform_features(data1)
data1.head()

,customerId,accountId,transactionDate,transactionTime,terminalId,transactionAmount,transactionRemain,state,transactionCode
0,0,51317,"(2015, 3, 21)",160125.0,0,-300.000,11393.314,D,0
1,0,51317,"(2015, 3, 21)",155406.0,1,-2000.000,11693.314,D,1
2,0,51317,"(2015, 3, 21)",3519.0,2,-5705.000,13693.314,D,1
3,0,51317,"(2015, 3, 21)",3442.0,3,-150.000,19398.314,D,0
4,1,51318,"(2015, 3, 21)",165927.0,4,-2000.000,6585.130,D,1