In [1]:
"""Importing Library"""
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
sns.set_style('whitegrid')

In [2]:
"""Reading Data"""
data1 = pd.read_csv('./month_1.csv')
data2 = pd.read_csv('./month_2.csv')
data3 = pd.read_csv('./month_3.csv')
data4 = pd.read_csv('./month_4.csv')
data5 = pd.read_csv('./month_5.csv')

In [3]:
"""
Now setting up some changes on data

Example: cleaning!

Function for cleaning the customerId
Function for cleaning the accountIdId
Function for cleaning the transactionCode

"""
def simplify_customerId(df):
    T = df.customerId.apply(lambda x: x[5:])
    df.customerId = T
    return df


def simplify_accountId(df):
    T = df.accountId.apply(lambda x: x[8:])
    df.accountId = T
    return df

def simplify_terminalId(df):
    T = df.terminalId.apply(lambda x: x[10:])
    df.terminalId = T
    return df

def simplify_transactionAmount(df):
    T = df.transactionAmount.apply(lambda x: x[:-3])
    df.transactionAmount = T
    return df

def simplify_transactionRemain(df):
    T = df.transactionRemain.apply(lambda x: x[:-3])
    df.transactionRemain = T
    return df


def simplify_transactionCode(df):
    T = df.transactionCode.apply(lambda x: x[3:])
    df.transactionCode = T
    return df



def transform_features(df):
    df = simplify_customerId(df)
    df = simplify_accountId(df)
    df = simplify_terminalId(df)
    df = simplify_transactionAmount(df)
    df = simplify_transactionRemain(df)
    df = simplify_transactionCode(df)
    return df

In [4]:
data1 = transform_features(data1)
data2 = transform_features(data2)
data3 = transform_features(data3)
data4 = transform_features(data4)
data5 = transform_features(data5)

In [5]:
data1

,customerId,accountId,transactionDate,transactionTime,terminalId,transactionAmount,transactionRemain,state,transactionCode
0,0,51317,"(2015, 3, 21)",160125.0,0,-300.000,11393.314,D,0
1,0,51317,"(2015, 3, 21)",155406.0,1,-2000.000,11693.314,D,1
2,0,51317,"(2015, 3, 21)",3519.0,2,-5705.000,13693.314,D,1
3,0,51317,"(2015, 3, 21)",3442.0,3,-150.000,19398.314,D,0
4,1,51318,"(2015, 3, 21)",165927.0,4,-2000.000,6585.130,D,1
5,2,51319,"(2015, 3, 21)",143155.0,5,-2000.000,7201.000,D,1
6,3,51320,"(2015, 3, 21)",202233.0,6,-2405.000,16548.991,D,1
7,3,51320,"(2015, 3, 21)",193954.0,7,-170.000,18953.991,D,0
8,3,51320,"(2015, 3, 21)",165122.0,8,-1130.000,19123.991,D,0
9,3,51320,"(2015, 3, 21)",161054.0,9,-600.000,20253.991,D,0
10,3,51320,"(2015, 3, 21)",154352.0,10,-800.000,20853.991,D,1
11,3,51320,"(2015, 3, 21)",42016.0,11,-162.410,21653.991,D,0
12,3,51320,"(2015, 3, 21)",3753.0,12,-2000.000,21816.401,D,1
13,3,51320,"(2015, 3, 21)",3744.0,13,-950.000,23816.401,D,0
14,3,51320,"(2015, 3, 21)",3736.0,14,-700.000,24766.401,D,0
15,3,51320,"(2015, 3, 21)",3724.0,15,-280.000,25466.401,D,0
16,4,51321,"(2015, 3, 21)",3525.0,16,900.000,13798.480,C,1
17,4,51321,"(2015, 3, 21)",3524.0,17,-900.000,12898.480,D,1
18,5,51322,"(2015, 3, 21)",235000.0,18,.794,88.868,C,2
19,6,51323,"(2015, 3, 21)",93646.0,19,-100.000,477.790,D,1
20,7,51324,"(2015, 3, 21)",214510.0,20,-95.000,1220.296,D,0
21,7,51324,"(2015, 3, 21)",211016.0,21,-750.000,1315.296,D,0
22,8,51325,"(2015, 3, 21)",235000.0,22,9.698,109.698,C,2
23,9,51326,"(2015, 3, 21)",235000.0,23,.794,341.489,C,2
24,10,51327,"(2015, 3, 21)",143721.0,24,405.000,3622.532,C,3
25,11,51328,"(2015, 3, 21)",3748.0,25,-5500.000,628859.567,D,0
26,11,51328,"(2015, 3, 21)",3555.0,26,-7580.000,634359.567,D,0
27,12,51329,"(2015, 3, 21)",235000.0,27,.794,.794,C,2
28,13,51330,"(2015, 3, 21)",202432.0,28,-1220.000,58832.596,D,0
29,13,51330,"(2015, 3, 21)",200827.0,29,-1320.000,60052.596,D,0
...,...,...,...,...,...,...,...,...,...
1179563,5231,100845,"(2015, 4, 20)",240000.0,1521,.000,350000.000,D,17
1179564,35148,100846,"(2015, 4, 20)",240000.0,8673,.000,11200.000,C,17
1179565,35148,100846,"(2015, 4, 20)",240000.0,1521,.000,11200.000,D,17
1179566,27890,100847,"(2015, 4, 20)",240000.0,8673,.000,17000.000,C,17
1179567,27890,100847,"(2015, 4, 20)",240000.0,1521,.000,17000.000,D,17
1179568,11108,100848,"(2015, 4, 20)",240000.0,8673,.000,60000.000,C,17
1179569,11108,100848,"(2015, 4, 20)",240000.0,1521,.000,60000.000,D,17
1179570,1381,100849,"(2015, 4, 20)",240000.0,8673,.000,520000.000,C,17
1179571,1381,100849,"(2015, 4, 20)",240000.0,1521,.000,520000.000,D,17
1179572,17795,100850,"(2015, 4, 20)",240000.0,8673,.000,10000.000,C,17
1179573,17795,100850,"(2015, 4, 20)",240000.0,1521,.000,10000.000,D,17
1179574,11907,100851,"(2015, 4, 20)",240000.0,8673,.000,50000.000,C,17
1179575,11907,100851,"(2015, 4, 20)",240000.0,1521,.000,50000.000,D,17
1179576,19860,100852,"(2015, 4, 20)",240000.0,8673,.000,100000.000,C,17
1179577,19860,100852,"(2015, 4, 20)",240000.0,1521,.000,100000.000,D,17
1179578,22469,100853,"(2015, 4, 20)",240000.0,8673,.000,1200000.000,C,17
1179579,22469,100853,"(2015, 4, 20)",240000.0,1521,.000,1200000.000,D,17
1179580,9395,100854,"(2015, 4, 20)",240000.0,8673,.000,200000.000,C,17
1179581,9395,100854,"(2015, 4, 20)",240000.0,1521,.000,200000.000,D,17
1179582,35442,100855,"(2015, 4, 20)",240000.0,8673,.000,400000.000,C,17
1179583,35442,100855,"(2015, 4, 20)",240000.0,1521,.000,400000.000,D,17
1179584,19465,100856,"(2015, 4, 20)",240000.0,8673,.000,110000.000,C,17
1179585,19465,100856,"(2015, 4, 20)",240000.0,1521,.000,110000.000,D,17
1179586,9143,100857,"(2015, 4, 20)",240000.0,8673,.000,165000.000,C,17
1179587,9143,100857,"(2015, 4, 20)",240000.0,1521,.000,165000.000,D,17
1179588,39452,99769,"(2015, 4, 20)",101028.0,1430,-110000.000,.000,D,31
1179589,18230,100858,"(2015, 4, 20)",105310.0,3287,400000.000,400000.000,C,23
1179590,8334,100859,"(2015, 4, 20)",113151.0,8576,1200000.000,1200000.000,C,23
1179591,5015,100860,"(2015, 4, 20)",132415.0,3521,1100000.000,1100000.000,C,23
1179592,6238,100861,"(2015, 4, 20)",141552.0,8237,5000000.000,5000000.000,C,23

In [6]:
data2

,customerId,accountId,transactionDate,transactionTime,terminalId,transactionAmount,transactionRemain,state,transactionCode
0,0,51317,"(2015, 4, 21)",185250.0,3453,-60.000,5891.714,D,0
1,0,51317,"(2015, 4, 21)",181253.0,1812,-130.000,5951.714,D,0
2,0,51317,"(2015, 4, 21)",181122.0,7441,-120.000,6081.714,D,0
3,0,51317,"(2015, 4, 21)",131439.0,1406,-20.000,6201.714,D,0
4,0,51317,"(2015, 4, 21)",122831.0,2818,-15000.000,6221.714,D,19
5,0,51317,"(2015, 4, 21)",90756.0,834,-380.000,21221.714,D,0
6,2,51318,"(2015, 4, 21)",144204.0,1112,-37.000,13559.000,D,19
7,2,51318,"(2015, 4, 21)",102130.0,3721,-2000.000,13596.000,D,1
8,2,51318,"(2015, 4, 21)",90225.0,417,-8000.000,15596.000,D,0
9,3,51319,"(2015, 4, 21)",222930.0,3514,-120.000,828.291,D,0
10,3,51319,"(2015, 4, 21)",195813.0,3342,-75.000,948.291,D,0
11,3,51319,"(2015, 4, 21)",172802.0,4869,-24.000,1023.291,D,0
12,3,51319,"(2015, 4, 21)",152738.0,3727,-1000.000,1047.291,D,0
13,4,51320,"(2015, 4, 21)",142042.0,1283,-493.320,15205.356,D,7
14,4,51320,"(2015, 4, 21)",140801.0,2531,-852.584,15698.676,D,7
15,5,51321,"(2015, 4, 21)",231836.0,3899,6.675,94.337,C,2
16,6,51322,"(2015, 4, 21)",171527.0,3004,4900.000,223414.996,C,3
17,6,51322,"(2015, 4, 21)",123327.0,1759,30000.000,218514.996,C,4
18,6,51322,"(2015, 4, 21)",122255.0,758,2400.000,188514.996,C,4
19,6,51322,"(2015, 4, 21)",111730.0,4295,19600.000,186114.996,C,4
20,3929,51323,"(2015, 4, 21)",123624.0,4549,-100000.000,.000,D,19
21,3929,51323,"(2015, 4, 21)",123624.0,2482,50000.000,100000.000,C,22
22,8,51324,"(2015, 4, 21)",231836.0,552,2889.298,3000.000,C,2
23,1433,51325,"(2015, 4, 21)",231836.0,1707,3000.000,3000.000,C,2
24,1433,51325,"(2015, 4, 21)",105203.0,5294,-61000.000,.000,D,19
25,1433,51325,"(2015, 4, 21)",105203.0,3334,61000.000,61000.000,C,22
26,1433,51325,"(2015, 4, 21)",104730.0,3605,-34300.000,.000,D,19
27,1433,51325,"(2015, 4, 21)",104730.0,3602,31300.000,34300.000,C,22
28,9,51326,"(2015, 4, 21)",231836.0,3629,.849,342.338,C,2
29,11,51327,"(2015, 4, 21)",150206.0,9018,-2000.000,26783.776,D,1
...,...,...,...,...,...,...,...,...,...
1271642,37709,101649,"(2015, 5, 21)",240000.0,1521,.000,107000.000,D,17
1271643,26363,101650,"(2015, 5, 21)",240000.0,8673,.000,100000.000,C,17
1271644,26363,101650,"(2015, 5, 21)",240000.0,1521,.000,100000.000,D,17
1271645,10392,101651,"(2015, 5, 21)",240000.0,8673,.000,30000.000,C,17
1271646,10392,101651,"(2015, 5, 21)",240000.0,1521,.000,30000.000,D,17
1271647,14262,101652,"(2015, 5, 21)",240000.0,8673,.000,38300.000,C,17
1271648,14262,101652,"(2015, 5, 21)",240000.0,1521,.000,38300.000,D,17
1271649,6742,101653,"(2015, 5, 21)",240000.0,8673,.000,180000.000,C,17
1271650,6742,101653,"(2015, 5, 21)",240000.0,1521,.000,180000.000,D,17
1271651,32119,101654,"(2015, 5, 21)",240000.0,8673,.000,40000.000,C,17
1271652,32119,101654,"(2015, 5, 21)",240000.0,1521,.000,40000.000,D,17
1271653,37752,101655,"(2015, 5, 21)",240000.0,8673,.000,140000.000,C,17
1271654,37752,101655,"(2015, 5, 21)",240000.0,1521,.000,140000.000,D,17
1271655,29427,101656,"(2015, 5, 21)",240000.0,8673,.000,50000.000,C,17
1271656,29427,101656,"(2015, 5, 21)",240000.0,1521,.000,50000.000,D,17
1271657,5643,101657,"(2015, 5, 21)",240000.0,8673,.000,600000.000,C,17
1271658,5643,101657,"(2015, 5, 21)",240000.0,1521,.000,600000.000,D,17
1271659,31438,101658,"(2015, 5, 21)",240000.0,8673,.000,500000.000,C,17
1271660,31438,101658,"(2015, 5, 21)",240000.0,1521,.000,500000.000,D,17
1271661,31440,101659,"(2015, 5, 21)",240000.0,8673,.000,500000.000,C,17
1271662,31440,101659,"(2015, 5, 21)",240000.0,1521,.000,500000.000,D,17
1271663,16364,101660,"(2015, 5, 21)",240000.0,8673,.000,540000.000,C,17
1271664,16364,101660,"(2015, 5, 21)",240000.0,1521,.000,540000.000,D,17
1271665,27914,101661,"(2015, 5, 21)",240000.0,8673,.000,110000.000,C,17
1271666,27914,101661,"(2015, 5, 21)",240000.0,1521,.000,110000.000,D,17
1271667,39780,101662,"(2015, 5, 21)",105620.0,4004,-10000.000,.000,D,31
1271668,31680,101663,"(2015, 5, 21)",104626.0,1968,-170000.000,.000,D,31
1271669,37680,101664,"(2015, 5, 21)",84614.0,4595,40000.000,40000.000,C,23
1271670,1256,101665,"(2015, 5, 21)",84724.0,3078,60000.000,60000.000,C,23
1271671,36820,101666,"(2015, 5, 21)",135922.0,8114,3000000.000,3000000.000,C,23

In [7]:
frames = [data1, data2, data3, data4, data5]
datas = pd.concat(frames)
datas

,customerId,accountId,transactionDate,transactionTime,terminalId,transactionAmount,transactionRemain,state,transactionCode
0,0,51317,"(2015, 3, 21)",160125.0,0,-300.000,11393.314,D,0
1,0,51317,"(2015, 3, 21)",155406.0,1,-2000.000,11693.314,D,1
2,0,51317,"(2015, 3, 21)",3519.0,2,-5705.000,13693.314,D,1
3,0,51317,"(2015, 3, 21)",3442.0,3,-150.000,19398.314,D,0
4,1,51318,"(2015, 3, 21)",165927.0,4,-2000.000,6585.130,D,1
5,2,51319,"(2015, 3, 21)",143155.0,5,-2000.000,7201.000,D,1
6,3,51320,"(2015, 3, 21)",202233.0,6,-2405.000,16548.991,D,1
7,3,51320,"(2015, 3, 21)",193954.0,7,-170.000,18953.991,D,0
8,3,51320,"(2015, 3, 21)",165122.0,8,-1130.000,19123.991,D,0
9,3,51320,"(2015, 3, 21)",161054.0,9,-600.000,20253.991,D,0
10,3,51320,"(2015, 3, 21)",154352.0,10,-800.000,20853.991,D,1
11,3,51320,"(2015, 3, 21)",42016.0,11,-162.410,21653.991,D,0
12,3,51320,"(2015, 3, 21)",3753.0,12,-2000.000,21816.401,D,1
13,3,51320,"(2015, 3, 21)",3744.0,13,-950.000,23816.401,D,0
14,3,51320,"(2015, 3, 21)",3736.0,14,-700.000,24766.401,D,0
15,3,51320,"(2015, 3, 21)",3724.0,15,-280.000,25466.401,D,0
16,4,51321,"(2015, 3, 21)",3525.0,16,900.000,13798.480,C,1
17,4,51321,"(2015, 3, 21)",3524.0,17,-900.000,12898.480,D,1
18,5,51322,"(2015, 3, 21)",235000.0,18,.794,88.868,C,2
19,6,51323,"(2015, 3, 21)",93646.0,19,-100.000,477.790,D,1
20,7,51324,"(2015, 3, 21)",214510.0,20,-95.000,1220.296,D,0
21,7,51324,"(2015, 3, 21)",211016.0,21,-750.000,1315.296,D,0
22,8,51325,"(2015, 3, 21)",235000.0,22,9.698,109.698,C,2
23,9,51326,"(2015, 3, 21)",235000.0,23,.794,341.489,C,2
24,10,51327,"(2015, 3, 21)",143721.0,24,405.000,3622.532,C,3
25,11,51328,"(2015, 3, 21)",3748.0,25,-5500.000,628859.567,D,0
26,11,51328,"(2015, 3, 21)",3555.0,26,-7580.000,634359.567,D,0
27,12,51329,"(2015, 3, 21)",235000.0,27,.794,.794,C,2
28,13,51330,"(2015, 3, 21)",202432.0,28,-1220.000,58832.596,D,0
29,13,51330,"(2015, 3, 21)",200827.0,29,-1320.000,60052.596,D,0
...,...,...,...,...,...,...,...,...,...
1176541,6813,104492,"(2015, 8, 22)",240000.0,1521,.000,400000.000,D,17
1176542,10716,104493,"(2015, 8, 22)",240000.0,8673,.000,30000.000,C,17
1176543,10716,104493,"(2015, 8, 22)",240000.0,1521,.000,30000.000,D,17
1176544,8670,104494,"(2015, 8, 22)",240000.0,8673,.000,300000.000,C,17
1176545,8670,104494,"(2015, 8, 22)",240000.0,1521,.000,300000.000,D,17
1176546,19279,104495,"(2015, 8, 22)",240000.0,8673,.000,125000.000,C,17
1176547,19279,104495,"(2015, 8, 22)",240000.0,1521,.000,125000.000,D,17
1176548,10624,104496,"(2015, 8, 22)",240000.0,8673,.000,280000.000,C,17
1176549,10624,104496,"(2015, 8, 22)",240000.0,1521,.000,280000.000,D,17
1176550,4473,104497,"(2015, 8, 22)",240000.0,8673,.000,250000.000,C,17
1176551,4473,104497,"(2015, 8, 22)",240000.0,1521,.000,250000.000,D,17
1176552,7205,104498,"(2015, 8, 22)",240000.0,8673,.000,100000.000,C,17
1176553,7205,104498,"(2015, 8, 22)",240000.0,1521,.000,100000.000,D,17
1176554,31438,104499,"(2015, 8, 22)",240000.0,8673,.000,500000.000,C,17
1176555,31438,104499,"(2015, 8, 22)",240000.0,1521,.000,500000.000,D,17
1176556,31440,104500,"(2015, 8, 22)",240000.0,8673,.000,500000.000,C,17
1176557,31440,104500,"(2015, 8, 22)",240000.0,1521,.000,500000.000,D,17
1176558,16364,104501,"(2015, 8, 22)",240000.0,8673,.000,540000.000,C,17
1176559,16364,104501,"(2015, 8, 22)",240000.0,1521,.000,540000.000,D,17
1176560,27914,104502,"(2015, 8, 22)",240000.0,8673,.000,110000.000,C,17
1176561,27914,104502,"(2015, 8, 22)",240000.0,1521,.000,110000.000,D,17
1176562,39205,104503,"(2015, 8, 22)",240000.0,8673,.000,120000.000,C,17
1176563,39205,104503,"(2015, 8, 22)",240000.0,1521,.000,120000.000,D,17
1176564,7287,104504,"(2015, 8, 22)",94803.0,8895,-35000.000,.000,D,31
1176565,4378,104505,"(2015, 8, 22)",105802.0,7411,-13000.000,.000,D,31
1176566,4378,104506,"(2015, 8, 22)",105955.0,8507,-16000.000,.000,D,31
1176567,1744,104507,"(2015, 8, 22)",74018.0,6241,100000.000,100000.000,C,23
1176568,11379,104508,"(2015, 8, 22)",110125.0,4065,105000.000,105000.000,C,23
1176569,1784,104509,"(2015, 8, 22)",184238.0,7418,37290.000,37290.000,C,41
1176570,21740,94517,"(2015, 8, 22)",120501.0,4200,1000.000,22140.244,C,3

In [ ]:
"""
So what's next?
"""