In [2]:
"""Importing Library"""
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
sns.set_style('whitegrid')
from sklearn.cross_validation import StratifiedKFold
from sklearn.ensemble import RandomForestClassifier
from sklearn.grid_search import GridSearchCV
from sklearn import linear_model, datasets
from sklearn import tree
from IPython.display import Image  
from sklearn.externals.six import StringIO  
import pydotplus

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\cross_validation.py:44: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\grid_search.py:43: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. This module will be removed in 0.20.
  DeprecationWarning)

In [94]:
"""Reading Data"""
data1 = pd.read_csv('./month_1.csv')
data1.head()

,customerId,accountId,transactionDate,transactionTime,terminalId,transactionAmount,transactionRemain,state,transactionCode
0,guke_0,zhanghu_51317,"(2015, 3, 21)",160125.0,zhongduan_0,-300.000 CN¥,11393.314 CN¥,D,ma_0
1,guke_0,zhanghu_51317,"(2015, 3, 21)",155406.0,zhongduan_1,-2000.000 CN¥,11693.314 CN¥,D,ma_1
2,guke_0,zhanghu_51317,"(2015, 3, 21)",3519.0,zhongduan_2,-5705.000 CN¥,13693.314 CN¥,D,ma_1
3,guke_0,zhanghu_51317,"(2015, 3, 21)",3442.0,zhongduan_3,-150.000 CN¥,19398.314 CN¥,D,ma_0
4,guke_1,zhanghu_51318,"(2015, 3, 21)",165927.0,zhongduan_4,-2000.000 CN¥,6585.130 CN¥,D,ma_1

In [93]:
"""
Now setting up some changes on data

Example: cleaning!

Function for cleaning the customerId
Function for cleaning the accountIdId
Function for cleaning the transactionCode

"""
def simplify_customerId(df):
    T = df.customerId.apply(lambda x: x[5:])
    df.customerId = T
    return df


def simplify_accountId(df):
    T = df.accountId.apply(lambda x: x[8:])
    df.accountId = T
    return df

def simplify_terminalId(df):
    T = df.terminalId.apply(lambda x: x[10:])
    df.terminalId = T
    return df

def simplify_transactionCode(df):
    T = df.transactionCode.apply(lambda x: x[3:])
    df.transactionCode = T
    return df

def transform_features(df):
    df = simplify_customerId(df)
    df = simplify_accountId(df)
    df = simplify_terminalId(df)
    df = simplify_transactionCode(df)
    return df

In [95]:
data1 = transform_features(data1)
data1

,customerId,accountId,transactionDate,transactionTime,terminalId,transactionAmount,transactionRemain,state,transactionCode
0,0,51317,"(2015, 3, 21)",160125.0,0,-300.000 CN¥,11393.314 CN¥,D,0
1,0,51317,"(2015, 3, 21)",155406.0,1,-2000.000 CN¥,11693.314 CN¥,D,1
2,0,51317,"(2015, 3, 21)",3519.0,2,-5705.000 CN¥,13693.314 CN¥,D,1
3,0,51317,"(2015, 3, 21)",3442.0,3,-150.000 CN¥,19398.314 CN¥,D,0
4,1,51318,"(2015, 3, 21)",165927.0,4,-2000.000 CN¥,6585.130 CN¥,D,1
5,2,51319,"(2015, 3, 21)",143155.0,5,-2000.000 CN¥,7201.000 CN¥,D,1
6,3,51320,"(2015, 3, 21)",202233.0,6,-2405.000 CN¥,16548.991 CN¥,D,1
7,3,51320,"(2015, 3, 21)",193954.0,7,-170.000 CN¥,18953.991 CN¥,D,0
8,3,51320,"(2015, 3, 21)",165122.0,8,-1130.000 CN¥,19123.991 CN¥,D,0
9,3,51320,"(2015, 3, 21)",161054.0,9,-600.000 CN¥,20253.991 CN¥,D,0
10,3,51320,"(2015, 3, 21)",154352.0,10,-800.000 CN¥,20853.991 CN¥,D,1
11,3,51320,"(2015, 3, 21)",42016.0,11,-162.410 CN¥,21653.991 CN¥,D,0
12,3,51320,"(2015, 3, 21)",3753.0,12,-2000.000 CN¥,21816.401 CN¥,D,1
13,3,51320,"(2015, 3, 21)",3744.0,13,-950.000 CN¥,23816.401 CN¥,D,0
14,3,51320,"(2015, 3, 21)",3736.0,14,-700.000 CN¥,24766.401 CN¥,D,0
15,3,51320,"(2015, 3, 21)",3724.0,15,-280.000 CN¥,25466.401 CN¥,D,0
16,4,51321,"(2015, 3, 21)",3525.0,16,900.000 CN¥,13798.480 CN¥,C,1
17,4,51321,"(2015, 3, 21)",3524.0,17,-900.000 CN¥,12898.480 CN¥,D,1
18,5,51322,"(2015, 3, 21)",235000.0,18,.794 CN¥,88.868 CN¥,C,2
19,6,51323,"(2015, 3, 21)",93646.0,19,-100.000 CN¥,477.790 CN¥,D,1
20,7,51324,"(2015, 3, 21)",214510.0,20,-95.000 CN¥,1220.296 CN¥,D,0
21,7,51324,"(2015, 3, 21)",211016.0,21,-750.000 CN¥,1315.296 CN¥,D,0
22,8,51325,"(2015, 3, 21)",235000.0,22,9.698 CN¥,109.698 CN¥,C,2
23,9,51326,"(2015, 3, 21)",235000.0,23,.794 CN¥,341.489 CN¥,C,2
24,10,51327,"(2015, 3, 21)",143721.0,24,405.000 CN¥,3622.532 CN¥,C,3
25,11,51328,"(2015, 3, 21)",3748.0,25,-5500.000 CN¥,628859.567 CN¥,D,0
26,11,51328,"(2015, 3, 21)",3555.0,26,-7580.000 CN¥,634359.567 CN¥,D,0
27,12,51329,"(2015, 3, 21)",235000.0,27,.794 CN¥,.794 CN¥,C,2
28,13,51330,"(2015, 3, 21)",202432.0,28,-1220.000 CN¥,58832.596 CN¥,D,0
29,13,51330,"(2015, 3, 21)",200827.0,29,-1320.000 CN¥,60052.596 CN¥,D,0
...,...,...,...,...,...,...,...,...,...
1179563,5231,100845,"(2015, 4, 20)",240000.0,1521,.000 CN¥,350000.000 CN¥,D,17
1179564,35148,100846,"(2015, 4, 20)",240000.0,8673,.000 CN¥,11200.000 CN¥,C,17
1179565,35148,100846,"(2015, 4, 20)",240000.0,1521,.000 CN¥,11200.000 CN¥,D,17
1179566,27890,100847,"(2015, 4, 20)",240000.0,8673,.000 CN¥,17000.000 CN¥,C,17
1179567,27890,100847,"(2015, 4, 20)",240000.0,1521,.000 CN¥,17000.000 CN¥,D,17
1179568,11108,100848,"(2015, 4, 20)",240000.0,8673,.000 CN¥,60000.000 CN¥,C,17
1179569,11108,100848,"(2015, 4, 20)",240000.0,1521,.000 CN¥,60000.000 CN¥,D,17
1179570,1381,100849,"(2015, 4, 20)",240000.0,8673,.000 CN¥,520000.000 CN¥,C,17
1179571,1381,100849,"(2015, 4, 20)",240000.0,1521,.000 CN¥,520000.000 CN¥,D,17
1179572,17795,100850,"(2015, 4, 20)",240000.0,8673,.000 CN¥,10000.000 CN¥,C,17
1179573,17795,100850,"(2015, 4, 20)",240000.0,1521,.000 CN¥,10000.000 CN¥,D,17
1179574,11907,100851,"(2015, 4, 20)",240000.0,8673,.000 CN¥,50000.000 CN¥,C,17
1179575,11907,100851,"(2015, 4, 20)",240000.0,1521,.000 CN¥,50000.000 CN¥,D,17
1179576,19860,100852,"(2015, 4, 20)",240000.0,8673,.000 CN¥,100000.000 CN¥,C,17
1179577,19860,100852,"(2015, 4, 20)",240000.0,1521,.000 CN¥,100000.000 CN¥,D,17
1179578,22469,100853,"(2015, 4, 20)",240000.0,8673,.000 CN¥,1200000.000 CN¥,C,17
1179579,22469,100853,"(2015, 4, 20)",240000.0,1521,.000 CN¥,1200000.000 CN¥,D,17
1179580,9395,100854,"(2015, 4, 20)",240000.0,8673,.000 CN¥,200000.000 CN¥,C,17
1179581,9395,100854,"(2015, 4, 20)",240000.0,1521,.000 CN¥,200000.000 CN¥,D,17
1179582,35442,100855,"(2015, 4, 20)",240000.0,8673,.000 CN¥,400000.000 CN¥,C,17
1179583,35442,100855,"(2015, 4, 20)",240000.0,1521,.000 CN¥,400000.000 CN¥,D,17
1179584,19465,100856,"(2015, 4, 20)",240000.0,8673,.000 CN¥,110000.000 CN¥,C,17
1179585,19465,100856,"(2015, 4, 20)",240000.0,1521,.000 CN¥,110000.000 CN¥,D,17
1179586,9143,100857,"(2015, 4, 20)",240000.0,8673,.000 CN¥,165000.000 CN¥,C,17
1179587,9143,100857,"(2015, 4, 20)",240000.0,1521,.000 CN¥,165000.000 CN¥,D,17
1179588,39452,99769,"(2015, 4, 20)",101028.0,1430,-110000.000 CN¥,.000 CN¥,D,31
1179589,18230,100858,"(2015, 4, 20)",105310.0,3287,400000.000 CN¥,400000.000 CN¥,C,23
1179590,8334,100859,"(2015, 4, 20)",113151.0,8576,1200000.000 CN¥,1200000.000 CN¥,C,23
1179591,5015,100860,"(2015, 4, 20)",132415.0,3521,1100000.000 CN¥,1100000.000 CN¥,C,23
1179592,6238,100861,"(2015, 4, 20)",141552.0,8237,5000000.000 CN¥,5000000.000 CN¥,C,23